<div class="product-card">
  <ngx-slick-carousel
    class="slick-slider"
    #slickModal="slick-carousel"
    [config]="slideConfig">
    <div ngxSlickItem *ngFor="let image of product?.images">
      <img [src]="image.src" loading="lazy" [alt]="product.name" />
    </div>
  </ngx-slick-carousel>

  <div class="product-details">
    <h3 class="product-name">{{ product.name }}</h3>
    <p class="product-variant">{{ product.variant }}</p>
    <p class="product-color">{{ product.color }}</p>
    <p class="product-price">
      <span class="original-price" *ngIf="product.originalPrice">{{ product.originalPrice }}</span>
      {{ product.price }} {{ product.currency || "AED" }}
    </p>
  </div>

  <a><button class="buy-button" routerLink="/product/{{ product.id }}" >Buy Now</button></a>
</div>