.pi {
  @apply text-white text-lg lg:text-2xl cursor-pointer;
}

.bag-checkout {
  @apply text-orange-500 absolute right-4 lg:right-8 xl:right-32  top-1/2 -translate-y-1/2;
}

.pi-bars {
  @apply hidden;
}

.pi-sidenav {
  @apply hidden;
}

@media (max-width: 960px) {
  .pi-bars {
    @apply block;
  }

  .pi-sidenav {
    @apply block;
  }
}

.is-scroll {
  @apply fixed top-0 z-[50] bg-[#2E2E2E];
}

@keyframes slide-first {
  0%,
  40% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  51%,
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-second {
  0%,
  40% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-slide-first {
  animation: slide-first 6s infinite;
}

.animate-slide-second {
  animation: slide-second 6s infinite;
}
