<div class="image-slider">
  <div class="product-tags">
    <div *ngFor="let tag of getProductTags()"
         class="tag"
         [ngClass]="getTagClass(tag)">
      {{ tag }}
    </div>
  </div>

  <div class="slider-container" #sliderContainer (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)">
    <div class="slide" *ngFor="let image of product?.images; let i = index" [ngClass]="{'active': i === currentSlide}">
      <a routerLink="/product/{{ product.id }}">
        <img [src]="image.src" loading="lazy" [alt]="product.name" />
      </a>
    </div>
  </div>

  <div class="slider-dots" *ngIf="product?.images && product.images.length > 1">
    <span *ngFor="let i of getDotCount(); let index = index"
          class="dot"
          [class.active]="index === currentSlide"
          (click)="onGoToSlide(index)"></span>
  </div>
  
</div>
