<div class="product-gallery" *ngIf="images.length > 0; else noImages">
  <!-- Thumbnails -->
  <div class="thumbnails-column">
    <div
      *ngFor="let image of images; let i = index; trackBy: trackByFn"
      class="thumbnail-item"
      [class.active]="selectedImageIndex === i"
      (click)="selectImage(i)"
    >
      <img
        [src]="image.src"
        [alt]="image.alt || productName()"
        class="thumbnail-img"
        loading="lazy"
      />
    </div>
  </div>

  <div
    class="main-image zoom-container"
    (mousemove)="zoom($event)"
    (mouseleave)="resetZoom()"
    #zoomContainer
  >
    <button class="prev" (click)="prevImage()">❮</button>
    <button class="next" (click)="nextImage()">❯</button>

    <div class="image-slide">
      <img
        *ngIf="images[selectedImageIndex]"
        [src]="images[selectedImageIndex].src"
        [alt]="images[selectedImageIndex].alt || productName()"
        class="main-img"
        width="640"
        height="640"
        loading="lazy"
        fetchpriority="high"
        (load)="onImageLoad()"
      />
    </div>

    <!-- Image counter for mobile -->
    <div class="image-counter" *ngIf="images.length > 1">
      {{ selectedImageIndex + 1 }} / {{ images.length }}
    </div>
  </div>
</div>

<ng-template #noImages>
  <div class="no-images">No images available</div>
</ng-template>