<div
  class="lg:ml-24 xl:ml-36 p-8 text-[#4d4f3a] lg:max-w-[550px] flex flex-col gap-y-5 border"
>
  <h2 class="font-semibold text-xl">Order summary</h2>
  <hr />

  <div
    class="flex items-center justify-between cursor-pointer"
    (click)="toggleTextarea()"
  >
    <p class="font-medium">Add order note</p>
    <i
      class="pi"
      [class]="isTextareaVisible ? 'pi-angle-up' : 'pi-angle-down'"
    ></i>
  </div>
  <textarea
    class="border-2 border-gray-400 overflow-y-auto outline-none rounded-lg w-full"
    [@toggleTextarea]="isTextareaVisible ? 'visible' : 'hidden'"
  ></textarea>
  <hr class="-mt-4" />

  <p>Tax included, shipping and discounts calculated at checkout.</p>

  <div class="flex justify-between font-semibold">
    <p class="text-lg">Total:</p>
    <p>
      {{
        (loadedCart$ | async).totals.total_price
          | currency : (loadedCart$ | async).totals.currency_code
      }}
    </p>
  </div>

  <div>
    <a routerLink="/checkout">
      <button
        class="bg-[#4d4f3a] hover:bg-[#323516] transition-colors duration-300 font-semibold text-white p-3 rounded-md w-full"
      >
        <i class="pi pi-shopping-bag mr-2"></i>
        <span>Checkout</span>
      </button>
    </a>

    <a
      [routerLink]=""
      class="cursor-pointer block mt-4 text-center text-orange-600 text-sm underline"
      >Continue Shopping</a
    >
  </div>
</div>
