<div class="lg:ml-24 xl:ml-36 p-8 text-[#4d4f3a] lg:max-w-[550px] flex flex-col gap-y-5 border">
  <h2 class="font-semibold text-xl">Order summary</h2>
  <hr />

  <p>Tax included, shipping and discounts calculated at checkout.</p>

  <div class="flex justify-between flex-col font-semibold">
    <p class="text-base">Shipping:</p>
    <p class="bg-gray-200 p-4 text-center mt-2 text-sm rounded-lg">
      Shipping options will be updated during checkout.
    </p>
  </div>

  @if (!(loadedCart$ | async)?.cartIsLoaded) {
  <!-- Loading state for total -->
  <div class="flex justify-between font-semibold">
    <p class="text-lg">Total:</p>
    <div class="w-24 h-6 bg-gray-200 animate-pulse rounded"></div>
  </div>
  } @else {
  <div class="flex justify-between font-semibold">
    <p class="text-lg">Total:</p>
    <p [innerHTML]="
        (loadedCart$ | async)?.userCart?.totals?.sub_total | currencySvg
        " class="text-black"></p>
  </div>
  }

  <div>
    <a routerLink="/checkout">
      <button
        class="bg-[#3bb54a] hover:bg-[#2a9e39] transition-colors duration-300 font-semibold text-white p-3 rounded-md w-full">
        <i class="pi pi-shopping-bag mr-2"></i>
        <span>Checkout</span>
      </button>
    </a>

    <a [routerLink]="['']" class="cursor-pointer block mt-4 text-center text-orange-600 text-sm underline">Continue
      Shopping</a>
  </div>
</div>