<!-- Subroutes Section -->
<div class="mb-4 subroutes-section">
  <app-breadcrumb-routes [categoryId]="categoryId"> </app-breadcrumb-routes>
</div>

<div class="filter-sidebar custom-sidebar">
  <div class="sidebar-content">
    <h4 class="mb-4">Filter</h4>
    <div *ngFor="let attr of attributes" class="mb-4">
      <h5 class="mb-3">{{ attr.name }}</h5>
      <div class="list-group">
        <div *ngFor="let option of attr.options" class="list-group-item border-0 px-0">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [id]="'attr-' + attr.name + '-' + option"
              (change)="onFilterChange(attr.name, option)"
            />
            <label class="form-check-label" [for]="'attr-' + attr.name + '-' + option">
              {{ option }}
            </label>
          </div>
        </div>
      </div>
    </div>