<div class="mt-4 border-t border-gray-200">
  <div class="mb-4 subroutes-section px-4 py-2">
    <app-breadcrumb-routes [categoryId]="categoryId"></app-breadcrumb-routes>
  </div>
  <form class="px-4">
    <h3 class="sr-only">Filters</h3>
    @if (isLoadingAttributes) {
      <div class="space-y-6">
        <div class="skeleton-filter" *ngFor="let item of [].constructor(3)">
          <div class="skeleton-header h-4 bg-gray-200 rounded w-3/4 mb-2"></div>
          <div class="skeleton-term h-3 bg-gray-200 rounded w-1/2 mb-1" *ngFor="let term of [].constructor(5)"></div>
        </div>
      </div>
    } @else {
      <div *ngFor="let attr of attributes" class="border-t border-gray-200 px-4 py-6">
        <h3 class="-mx-2 -my-3 flow-root">
          <button
            type="button"
            (click)="toggleSection(attr.slug)"
            class="flex w-full items-center justify-between bg-white px-2 py-2 text-gray-400 hover:text-gray-500"
          >
            <span class="font-medium text-gray-900">{{ attr.name }}</span>
            <span class="ml-6 flex items-center">
              <svg *ngIf="!openSections[attr.slug]" class="size-5" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
              </svg>
              <svg *ngIf="openSections[attr.slug]" class="size-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z" clip-rule="evenodd" />
              </svg>
            </span>
          </button>
        </h3>
        <div
          class="filter-section"
          [ngClass]="{'open': openSections[attr.slug], 'closed': !openSections[attr.slug]}"
        >
          <!-- ScrollBar -->
          <div class="max-h-60 overflow-y-auto space-y-4 custom-scrollbar">
            <div
              *ngFor="let term of attr.terms"
              class="flex gap-3"
            >
              <div class="flex h-5 shrink-0 items-center">
                <div class="group grid size-4 grid-cols-1">
                  <input
                    [id]="'attr-' + attr.slug + '-' + term.id"
                    type="checkbox"
                    class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                    [checked]="isSelected(attr.slug, term.id)"
                    (change)="onFilterChange(attr.slug, term.id)"
                  />
                  <svg class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white" viewBox="0 0 14 14" fill="none">
                    <path class="opacity-0 group-has-checked:opacity-100" d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </div>
              </div>
              <label
                class="min-w-0 flex-1 text-gray-800 "
                [for]="'attr-' + attr.slug + '-' + term.id"
              >
                {{ term.name }}
              </label>
            </div>
          </div>
        </div>
      </div>
    }
  </form>
</div>