<div class="card-details-container">
  <!-- Product Name -->
  <h3 class="product-name">
    <a [routerLink]="['/product', product.slug]">{{ product.name }}</a>
  </h3>

  <!-- Categories/Brand -->
  <div class="category">
    <ng-container *ngIf="product.categories && product.categories.length">
      <a [routerLink]="getCategoryRouterPath() | async" class="hover:underline"
        [innerHTML]="product.categories[0].name"></a>
    </ng-container>
    <span *ngIf="product.categories && product.categories.length && getBrandName()">,
    </span>
    <a *ngIf="getBrandName()" [routerLink]="['/product/brand', getBrandSlug()]" class="hover:underline"
      [innerHTML]="getBrandName()"></a>
  </div>

  <!-- Price -->
  <div class="price">
    <span class="current-price" [ngClass]="{
        'sale-price': oldPrice,
        'regular-price': !oldPrice
      }" [innerHTML]="getNumericPrice(displayPrice) | currencySvg"></span>

    <span *ngIf="oldPrice" class="old-price" [innerHTML]="getNumericPrice(oldPrice) | currencySvg:true"></span>
  </div>
</div>