<!-- @defer (on viewport) {
<div @fadeInStagger>
  <p
    *ngFor="let item of x; let i = index"
    [@fadeState]="'visible'"
    class="ml-24"
  >
    {{ item }}
  </p>
</div>
}@placeholder {
<p>;dds</p>
} -->

@defer (on viewport) {
<p-carousel
  [value]="x"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="false"
  class="relative"
>
  <ng-template let-product #item>
    <div
      class="border border-surface rounded-border m-2 p-4 bg-red-400"
      [@fadeState]="'visible'"
    >
      <div class="mb-4">
        <div class="relative mx-auto">
          <p>{{ product }}</p>
          <button class="bg-green-400 p-1" (click)="openCart()">Buy</button>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
}@placeholder {
<p class="text-center text-lg">Loading...</p>
}
