<app-app-container>
  @if (schemaData && !isLoading) {
    <ng-container>
      <script type="application/ld+json" [innerHTML]="schemaData"></script>
    </ng-container>
  }

  <!-- Breadcrumb Skeleton -->
  @if (isLoading) {
    <div class="skeleton-breadcrumb"></div>
  } @else {
    <app-breadcrumb></app-breadcrumb>
  }

  <!-- Product Section -->
  <div class="flex flex-col md:flex-row gap-8 mb-8">
    <!-- Product Images - Left side -->
    <div class="md:w-1/2 lg:w-3/5">
      @if (isLoading) {
        <div class="skeleton-image"></div>
      } @else if (productData) {
        <app-product-images
          [productImages]="productData.images"
          [selectedColor]="selectedColor"
          [variations]="productData.variations"
        />
      }

      <!-- Product Description and Specifications -->
      <div class="full-width-description">
        @if (isLoading) {
          <div class="skeleton-description">
            <div class="skeleton-line"></div>
            <div class="skeleton-line"></div>
            <div class="skeleton-line short"></div>
          </div>
        } @else if (productData) {
          <app-product-desc [productAdditionlInfo]="productData" />
        }
      </div>
    </div>

    <!-- Product Info - Right side - Sticky on scroll -->
    <div class="md:w-1/2 lg:w-2/5 sticky-wrapper">
      <div class="sticky-info">
        @if (isLoading) {
          <div class="skeleton-info">
            <div class="skeleton-line"></div>
            <div class="skeleton-line short"></div>
            <div class="skeleton-button"></div>
          </div>
        } @else if (productData) {
          <app-product-info
            [productInfo]="productData"
            (selectedColorChange)="onSelectedColorChange($event)"
          />
        }
      </div>
    </div>
  </div>

  <!-- Related Products -->
  @if (isLoading) {
    <div class="skeleton-related">
      <div class="skeleton-related-item"></div>
      <div class="skeleton-related-item"></div>
      <div class="skeleton-related-item"></div>
    </div>
  } @else if (productData?.related_ids) {
    <app-product-related [relatedIds]="productData.related_ids" />
  }
</app-app-container>