::ng-deep .p-select {
  border: 1px solid rgb(230, 229, 229);
}

::ng-deep .p-select-option {
  @apply bg-white text-black;
}

::ng-deep .p-select-list-container {
  @apply bg-white;
}

::ng-deep .p-select-label {
  @apply text-black;
}
::ng-deep .p-select-option {
  @apply border-b;
}

::placeholder {
  @apply text-sm text-gray-400;
}

input[type="checkbox"] {
  accent-color: #ff5722;
  width: 20px;
  height: 20px;
}

input[type="radio"] {
  accent-color: #ff5722;
  width: 15px;
  height: 15px;
}

.paymentOptionActive {
  @apply border border-[#ff5722] bg-[#f8e5e0ee];
}

svg {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}

/* Country Select Styling */
::ng-deep .country-select {
  @apply rounded-lg;
}

::ng-deep .country-select .p-select-label {
  @apply flex items-center gap-2 py-2 px-1;
}

::ng-deep .country-select .p-select-trigger {
  @apply bg-white rounded-lg border border-gray-300;
}

::ng-deep .country-select .p-select-items {
  @apply py-1 rounded-lg shadow-lg max-h-60 overflow-y-auto;
}

::ng-deep .country-select .p-select-item {
  @apply hover:bg-gray-100 cursor-pointer transition-colors duration-200 py-1.5 px-3;
}

::ng-deep .country-select .p-select-header {
  @apply px-3 py-2 border-b;
}

::ng-deep .country-select .p-select-header input {
  @apply w-full py-1.5 px-2 border rounded-md text-sm;
}
