<form class="my-2 sm:my-0 w-full" [formGroup]="billingForm">
  <div class="flex lg:flex-row flex-col w-full">
    <div class="lg:w-[55%] lg:border-r">
      <div class="flex flex-col gap-y-8 lg:p-10 mb-5 lg:mb-0">
        <!-- Contact -->
        <section>
          <div class="flex flex-col items-center">
            <p class="text-gray-400 text-sm text-center">Express checkout</p>

            <!-- GPay & Apple Pay -->
            <div class="pt-4 w-full text-center">
              <app-wallet-payment (paymentSucceeded)="onPaymentSucceeded($event)"></app-wallet-payment>

              <div class="flex items-center gap-4 pt-4 pb-7">
                <span class="flex-grow h-px bg-gray-400"></span>
                <span class="text-gray-400 text-sm">OR</span>
                <span class="flex-grow h-px bg-gray-400"></span>
              </div>
            </div>

            <!-- Contact with Email -->
            <div class="w-full flex items-center justify-between">
              <h2 class="font-semibold text-xl">
                Contact <span class="text-red-500 text-base">*</span>
              </h2>
              <a [routerLink]="['/myaccount']" class="text-red-400 cursor-pointer underline text-sm">Log in</a>
            </div>

            <!-- Email Input -->
            <div class="py-4 w-full">
              <input type="email" class="bg-white border w-full py-[14px] px-3 rounded-lg" placeholder="Email"
                formControlName="email" [class.border-red-500]="emailIsInvalid" />
            </div>
            @if (emailIsInvalid) {
            <p class="text-sm text-red-500 w-full -mt-2 mb-4">Please enter a valid email address.</p>
            }

            <div class="w-full flex gap-x-2 items-center">
              <input type="checkbox" class="w-4 h-6" formControlName="subscribeNewsletter" id="subscribeNewsletter" />
              <label for="subscribeNewsletter" class="text-sm cursor-pointer">Email me with news and offers</label>
            </div>
          </div>
        </section>

        <!-- Billing -->
        <section class="flex flex-col gap-y-4">
          <h2 class="font-semibold text-xl">
            Billing details <span class="text-red-500 text-base">*</span>
          </h2>
          <!-- Country Select -->
          <div>
            <p-select [options]="avaliableCountries$ | async" optionLabel="name" optionValue="code"
              placeholder="Select a Country" class="bg-white w-full py-[6px] px-3 rounded-lg"
              formControlName="countrySelect" />
          </div>

          <!-- First and Last Name -->
          <div class="flex sm:flex-row flex-col items-start gap-y-4 sm:gap-y-0 sm:gap-x-2">
            <div class="w-full relative" [class.mb-5]="firstNameIsInvalid || lastNameIsInvalid">
              <input type="text" class="bg-white border w-full py-[14px] px-3 rounded-lg" placeholder="First name"
                formControlName="firstName" [class.border-red-500]="firstNameIsInvalid" />
              @if (firstNameIsInvalid) {
              <p class="absolute text-sm text-red-500 w-full mt-1 left-0">Enter a first name</p>
              }
            </div>

            <div class="w-full relative">
              <input type="text" class="bg-white border w-full py-[14px] px-3 rounded-lg" placeholder="Last name"
                formControlName="lastName" [class.border-red-500]="lastNameIsInvalid" />
              @if (lastNameIsInvalid) {
              <p class="absolute text-sm text-red-500 w-full mt-1 left-0">Enter a last name</p>
              }
            </div>
          </div>

          <!-- Address -->
          <div>
            <input type="text" class="bg-white border w-full py-[14px] px-3 rounded-lg" placeholder="Address"
              formControlName="address" [class.border-red-500]="addressIsInvalid" />
            @if (addressIsInvalid) {
            <p class="text-sm text-red-500 w-full mt-1">Enter an address</p>
            }
          </div>

          <!-- Apartment -->
          <input type="text" class="bg-white border w-full py-[14px] px-3 rounded-lg"
            placeholder="Apartment, suite, etc. (optional)" formControlName="apartment" />

          <!-- City and State -->
          <div class="flex items-center gap-x-2" [class.mb-5]="stateIsInvalid || cityIsInvalid">
            <div class="w-full relative">
              <input type="text" class="bg-white border w-full py-[14px] px-3 rounded-lg" placeholder="City"
                formControlName="city" [class.border-red-500]="cityIsInvalid" />
              @if (cityIsInvalid) {
              <p class="absolute text-sm text-red-500 w-full mt-1 left-0">Enter a city</p>
              }
            </div>
            <div class="w-full relative">
              <input type="text" class="bg-white border w-full py-[14px] px-3 rounded-lg" placeholder="State"
                formControlName="state" [class.border-red-500]="stateIsInvalid" />
              @if (stateIsInvalid) {
              <p class="absolute text-sm text-red-500 w-full mt-1 left-0">Enter a state</p>
              }
            </div>
          </div>

          <!-- Postcode -->
          <div>
            <input type="number"
              class="bg-white border w-full py-[14px] px-3 rounded-lg [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none [&]:moz-appearance-textfield"
              placeholder="Postcode / Zip" formControlName="postCode" [class.border-red-500]="postCodeIsInvalid" />
            @if (postCodeIsInvalid) {
            <p class="text-sm text-red-500 w-full mt-[6px]">Enter a Postcode</p>
            }
          </div>

          <!-- Phone -->
          <div class="w-full relative">
            <input type="number"
              class="bg-white border w-full py-[14px] px-3 rounded-lg [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none [&]:moz-appearance-textfield"
              placeholder="Phone" formControlName="phone" [class.border-red-500]="phoneIsInvalid" />
            @if (phoneIsInvalid) {
            <p class="text-sm text-red-500 mt-2">Enter a valid phone</p>
            }
            <div class="absolute top-[50%] right-[3%] -translate-y-[48%]">
              <div class="relative group">
                <i class="pi pi-question-circle cursor-pointer text-gray-400"></i>
                <span
                  class="absolute right-0 -top-[120%] hidden group-hover:block bg-gray-800 text-white text-sm py-1 px-2 rounded-md shadow-md whitespace-nowrap">
                  in case we need to contact you about your order
                </span>
              </div>
            </div>
          </div>
        </section>

        <!-- Payment -->
        <section>
          <h2 class="font-semibold text-xl">Payment</h2>
          <p class="text-sm text-gray-500 mt-1">All transactions are secure and encrypted.</p>

          <div class="bg-[#F4F4F4] mt-2 border rounded-lg">
            <!-- Stripe Card -->
            <div>
              <div class="flex justify-between items-center bg-white rounded-t-lg p-4"
                [class.paymentOptionActive]="paymentRadiosValue === 'stripe'"
                [class.mb-3]="paymentRadiosValue === 'stripe'" [class.border-t]="paymentRadiosValue !== 'stripe'">
                <div class="flex items-center gap-x-2">
                  <input type="radio" id="stripe" value="stripe" formControlName="paymentMethod" />
                  <label class="text-sm" for="stripe">Credit card</label>
                </div>
                <div class="flex items-center gap-x-2">
                  <img loading="lazy"
                    src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/c1.en/assets/visa.sxIq5Dot.svg"
                    alt="" />
                  <img loading="lazy"
                    src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/c1.en/assets/mastercard.1c4_lyMp.svg"
                    alt="" />
                </div>
              </div>

              <!-- Stripe Elements Fields -->
              <div class="flex flex-col gap-y-3 px-4 pb-4" [class.block]="paymentRadiosValue === 'stripe'"
                [class.hidden]="paymentRadiosValue !== 'stripe'" @slideInOut>
                <!-- Card Number -->
                <div #cardNumberElement class="bg-white border rounded-lg p-3"></div>
                <!-- Expiration Date & CVC -->
                <div class="flex sm:flex-row flex-col items-center gap-y-4 sm:gap-y-0 sm:gap-x-2">
                  <div #cardExpiryElement class="bg-white border rounded-lg p-3 w-full"></div>
                  <div #cardCvcElement class="bg-white border rounded-lg p-3 w-full"></div>
                </div>
              </div>
            </div>


            <!-- Tabby -->
            <!-- @if ((avaliablePaymentMethods$ | async)?.includes('tabby_installments')) {
              <div>
                <div
                  class="flex justify-between items-center bg-white p-4"
                  [class.paymentOptionActive]="paymentRadiosValue === 'tabby'"
                  [class.border-t]="paymentRadiosValue !== 'tabby'"
                >
                  <div class="flex items-center gap-x-2">
                    <input type="radio" id="tabby" value="tabby" formControlName="paymentMethod" />
                    <label class="text-sm" for="tabby">Pay in 4 with Tabby. No interest. No fees</label>
                  </div>
                  <img
                    src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/c1.en/assets/tabby.C7-15TZI.svg"
                    alt=""
                  />
                </div>

                @if (paymentRadiosValue === 'tabby') {
                  <div class="px-3" @slideInOut>
                    <div class="flex flex-col items-center gap-y-6 mt-8">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="-252.3 356.1 163 80.9"
                        class="!w-[160px] !h-20 !text-gray-500 !block"
                      >
                        <path
                          fill="none"
                          stroke="currentColor"
                          stroke-miterlimit="10"
                          stroke-width="2"
                          d="M-108.9 404.1v30c0 1.1-.9 2-2 2H-231c-1.1 0-2-.9-2-2v-75c0-1.1.9-2 2-2h120.1c1.1 0 2 .9 2 2v37m-124.1-29h124.1"
                        ></path>
                        <circle cx="-227.8" cy="361.9" r="1.8" fill="currentColor"></circle>
                        <circle cx="-222.2" cy="361.9" r="1.8" fill="currentColor"></circle>
                        <circle cx="-216.6" cy="361.9" r="1.8" fill="currentColor"></circle>
                        <path
                          fill="none"
                          stroke="currentColor"
                          stroke-miterlimit="10"
                          stroke-width="2"
                          d="M-128.7 400.1H-92m-3.6-4.1 4 4.1-4 4.1"
                        ></path>
                      </svg>
                      <p class="text-sm w-[350px] text-center mb-3">
                        After clicking "Pay now", you will be redirected to Pay in 4 with Tabby. No interest. No fees to complete your purchase securely.
                      </p>
                    </div>
                  </div>
                }
              </div>
            }
 -->

            @if ((selectedBillingCountry$ | async) === 'AE') {
            <!-- COD -->
            <div @slideInOut>
              <div class="flex justify-between items-center bg-white rounded-b-lg p-4"
                [class.paymentOptionActive]="paymentRadiosValue === 'cod'"
                [class.border-t]="paymentRadiosValue !== 'cod'">
                <div class="flex items-center gap-x-2">
                  <input type="radio" id="cod" value="cod" formControlName="paymentMethod" />
                  <label class="text-sm" for="cod">Cash on delivery</label>
                </div>
              </div>

              @if (paymentRadiosValue === 'cod') {
              <div class="px-3" @slideInOut>
                <div class="mt-3">
                  <p class="text-sm mb-3">
                    Choose this option to pay in cash upon delivery. AED 20 service fee applies. Please have the exact
                    amount ready. Available across the UAE.
                  </p>
                </div>
              </div>
              }
            </div>
            }
          </div>

          <!-- Payment Error -->
          <div *ngIf="checkoutService.paymentError$ | async as error" class="text-red-500 text-sm mt-2">
            {{ error }}
          </div>

          <!-- Shipping -->
          <div class="mt-4">
            <h2 class="font-semibold text-xl">Billing address</h2>

            <div class="bg-[#F4F4F4] mt-2 border rounded-lg">
              <!-- Same Address -->
              <div class="flex items-center gap-x-2 bg-white rounded-t-lg p-4">
                <input type="radio" id="same" value="same" formControlName="shippingMethod" />
                <label class="text-sm" for="same">Same as shipping address</label>
              </div>

              <!-- Different Address -->
              <div class="flex items-center gap-x-2 bg-white rounded-b-lg p-4" @slideInOut>
                <input type="radio" id="different" value="different" formControlName="shippingMethod" />
                <label class="text-sm" for="different">Use a different billing address</label>
              </div>
            </div>
          </div>

          <!-- Shipping Form -->
          @if (isShippingDifferent) {
          <form class="flex flex-col gap-y-4 mt-4" [formGroup]="shippingForm">
            <h2 class="font-semibold text-xl">
              Shipping details <span class="text-red-500 text-base">*</span>
            </h2>

            <!-- First and Last Name -->
            <div class="flex sm:flex-row flex-col items-start gap-y-4 sm:gap-y-0 sm:gap-x-2">
              <input type="text" class="bg-white border w-full py-[14px] px-3 rounded-lg" placeholder="First name"
                formControlName="firstName" />
              <input type="text" class="bg-white border w-full py-[14px] px-3 rounded-lg" placeholder="Last name"
                formControlName="lastName" />
            </div>

            <!-- Country Select -->
            <div>
              <p-select [options]="avaliableCountries$ | async" optionLabel="name" optionValue="code"
                placeholder="Select a Country" class="bg-white w-full py-[6px] px-3 rounded-lg"
                formControlName="countrySelect" />
            </div>

            <!-- Address -->
            <div>
              <input type="text" class="bg-white border w-full py-[14px] px-3 rounded-lg" placeholder="Address"
                formControlName="address" />
            </div>

            <!-- Apartment -->
            <input type="text" class="bg-white border w-full py-[14px] px-3 rounded-lg"
              placeholder="Apartment, suite, etc. (optional)" formControlName="apartment" />

            <!-- City and State -->
            <div class="flex items-center gap-x-2">
              <div class="w-full relative">
                <input type="text" class="bg-white border w-full py-[14px] px-3 rounded-lg" placeholder="City"
                  formControlName="city" />
              </div>
              <div class="w-full relative">
                <input type="text" class="bg-white border w-full py-[14px] px-3 rounded-lg" placeholder="State"
                  formControlName="state" />
              </div>
            </div>
          </form>
          }

          <!-- Pay Button -->
          <div class="mt-6 mb-12 lg:block hidden">
            <button [disabled]="!isFormValid() || isLoading"
              (click)="paymentRadiosValue === 'stripe' ? payNow() : onSubmit()"
              class="block font-semibold w-full lg:mx-auto py-3 text-center text-white rounded-lg transition-all duration-150"
              [ngClass]="!isFormValid() || isLoading ? 'bg-gray-500 hover:bg-gray-500 cursor-default' : 'bg-[#3bb54a] hover:bg-[#2a9e39] cursor-pointer'">
              @if (paymentRadiosValue === 'cod') {
              <span>Complete order</span>
              } @else {
              <span>Pay now</span>
              }

              @if (isLoading) {
              <span class="inline-block ml-2 align-middle">
                <div class="inline-block animate-spin h-4 w-4 border-t-2 border-b-2 border-white rounded-full"></div>
              </span>
              }
            </button>
          </div>
          <hr />

          <!-- Policies -->
          <div class="lg:block hidden">
            <div class="flex gap-x-4 mt-4">
              <a [routerLink]="" class="underline text-sm text-red-400">Refund policy</a>
              <a [routerLink]="" class="underline text-sm text-red-400">Privacy policy</a>
              <a [routerLink]="" class="underline text-sm text-red-400">Terms of service</a>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- Show Button -->
    <div class="flex justify-between items-center mb-4 lg:hidden">
      <p class="text-xl font-semibold">Order summary</p>
      <div class="flex items-center gap-x-2 text-orange-500 cursor-pointer" (click)="onShowSummary()">
        <button>{{ !(summaryIsVisible$ | async) ? 'Hide' : 'Show' }}</button>
        <i class="pi pi-sort-down-fill"></i>
      </div>
    </div>

    <!-- Summary -->
    <div class="lg:w-[45%]">
      <div class="lg:sticky lg:top-4">
        <app-checkout-summary [isVisible$]="summaryIsVisible$!">
          <div class="mt-6 mb-12 lg:hidden block">
            <button [disabled]="!isFormValid() || isLoading"
              (click)="paymentRadiosValue === 'stripe' ? payNow() : onSubmit()"
              class="block font-semibold w-full lg:mx-auto py-3 text-center text-white rounded-lg transition-all duration-150"
              [ngClass]="!isFormValid() || isLoading ? 'bg-gray-500 hover:bg-gray-500 cursor-default' : 'bg-[#3bb54a] hover:bg-[#2a9e39] cursor-pointer'">
              @if (paymentRadiosValue === 'cod') {
              <span>Complete order</span>
              } @else {
              <span>Pay now</span>
              }

              @if (isOrderLoading$ | async) {
              <span class="inline-block ml-2 align-middle">
                <div class="inline-block animate-spin h-4 w-4 border-t-2 border-b-2 border-white rounded-full"></div>
              </span>
              }
            </button>
          </div>
        </app-checkout-summary>
      </div>
    </div>
  </div>
</form>