<div class="related-products-container">
  <h2 class="section-title">You May Also Like</h2>

  <div class="related-products" *ngIf="relatedProducts.length > 0">
    <p-carousel
      [value]="relatedProducts"
      [numVisible]="4"
      [numScroll]="1"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      [showIndicators]="false">
      <ng-template let-product pTemplate="item">
        <div class="product-item">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="no-products" *ngIf="relatedProducts.length === 0">
    <p>No related products available</p>
  </div>
</div>
