<div class="mb-4">
  <app-app-container>
    <div>
      <h2 class="text-2xl font-semibold mt-4">About Adventures Hub</h2>
      <p>
        Adventures Hub offers a wide range of equipment and apparel for various
        sports such as water sports, diving, camping and many more. The store
        offers various brands of affordable sports gear, making it an excellent
        choice for budget-conscious customers. Adventures Hub also has a strong
        online presence, allowing customers to shop for their favorite sports
        products from the comfort of their homes. As a popular sports store in
        Dubai Adventures Hub is a go-to destination for sports enthusiasts as
        the store also offers high-end sports equipment and apparel from top
        sports brands. Sun and Adventures Hub also has a dedicated section for
        women’s sports gear, making it an excellent choice for female athletes.
      </p>
    </div>
  </app-app-container>
</div>
