<div class="flex flex-col xl:max-w-[300px] w-full">
  <!-- Archives -->
  <div class="mb-6 pb-6 border-b">
    <h4 class="font-semibold mb-2 uppercase">Archives</h4>
    <div class="flex flex-col">
      <a
        [routerLink]=""
        class="text-sm mt-1 hover:border-b hover:border-black w-fit cursor-pointer block"
      >
        June 2023
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 hover:border-b hover:border-black w-fit cursor-pointer block"
      >
        May 2023
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 hover:border-b hover:border-black w-fit cursor-pointer block"
      >
        April 2023
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 hover:border-b hover:border-black w-fit cursor-pointer block"
      >
        March 2023
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 hover:border-b hover:border-black w-fit cursor-pointer block"
      >
        September 2023
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 hover:border-b hover:border-black w-fit cursor-pointer block"
      >
        July 2023
      </a>
    </div>
  </div>

  <!-- Categories -->
  <div class="mb-6 pb-6 border-b">
    <h4 class="font-semibold mb-2 uppercase">categories</h4>
    <div class="flex flex-col">
      <a
        [routerLink]=""
        class="text-sm mt-1 hover:border-b hover:border-black w-fit cursor-pointer block"
      >
        Adventure
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 hover:border-b hover:border-black w-fit cursor-pointer block"
      >
        Campers
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 hover:border-b hover:border-black w-fit cursor-pointer block"
      >
        HIKING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 hover:border-b hover:border-black w-fit cursor-pointer block"
      >
        New Trails
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 hover:border-b hover:border-black w-fit cursor-pointer block"
      >
        SEA JUNKIES
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 hover:border-b hover:border-black w-fit cursor-pointer block"
      >
        SURFING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 hover:border-b hover:border-black w-fit cursor-pointer block"
      >
        Uncategorized
      </a>
    </div>
  </div>

  <!-- Tags -->
  <div class="pb-4">
    <h4 class="font-semibold mb-2 uppercase">tags</h4>
    <div class="flex xl:flex-col flex-wrap gap-x-2">
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Adventure
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Campers
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        HIKING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        New Trails
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        SEA JUNKIES
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        SURFING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Uncategorized
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Adventure
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Campers
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        HIKING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        New Trails
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        SEA JUNKIES
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        SURFING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Uncategorized
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Adventure
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Campers
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        HIKING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        New Trails
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        SEA JUNKIES
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        SURFING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Uncategorized
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Adventure
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Campers
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        HIKING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        New Trails
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        SEA JUNKIES
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        SURFING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Uncategorized
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Adventure
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Campers
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        HIKING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        New Trails
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        SEA JUNKIES
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        SURFING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Uncategorized
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Adventure
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Campers
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        HIKING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        New Trails
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        SEA JUNKIES
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        SURFING
      </a>
      <a
        [routerLink]=""
        class="text-sm mt-1 bg-black text-white px-2 w-fit cursor-pointer block"
      >
        Uncategorized
      </a>
    </div>
  </div>
</div>
