.subroutes {
    list-style: none;
    padding: 0;
  }
  
  .subrouteA .list-group-item {
    border: none;
    padding: 10px 0;
  }

  .subrouteA{
    font-size: 14px;
    text-decoration: none;
    color: #000000;

  }
  
  .subrouteA:hover {
    text-decoration: underline;
  }