<div class="sm:p-10 w-full">
  <!-- items -->
  <div
    class="border p-4 rounded-lg"
    [class]="{
    'h-[440px]': (loadedCart$ | async)?.items?.length>6,
    'overflow-auto': (loadedCart$ | async)?.items?.length>6,
  }"
  >
    <div class="flex flex-col gap-y-4">
      <!-- Product Data -->
      @for (product of (loadedCart$ | async)?.items; track $index) {
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-x-2">
          <div class="relative">
            <img
              [src]="product.images"
              alt="product-image"
              class="w-[64px] h-[64px] border rounded-lg"
            />
            <div class="absolute -top-2 left-[50px]">
              <span
                class="bg-gray-400 text-white rounded-full flex items-center justify-center w-5 h-5 text-xs font-medium p-1"
              >
                {{ product.quantity }}
              </span>
            </div>
          </div>
          <p class="text-sm">{{ product.name }}</p>
        </div>

        <!-- Price -->
        <p class="text-sm">AED {{ product.prices.price }}</p>
      </div>
      }
    </div>
  </div>
  <!-- Coupon -->
  <div class="flex gap-x-2 items-center mt-4">
    <input
      type="text"
      class="bg-white border w-full py-[14px] px-3 rounded-lg"
      placeholder="Discount code or gift card"
    />

    <button
      class="px-3 py-[14px] bg-orange-500 rounded-lg text-white font-semibold"
    >
      Apply
    </button>
  </div>

  <!-- Shipping Method -->
  <div class="mt-2">
    <h3 class="font-semibold text-base">Shipping method</h3>
    <div class="bg-gray-200 p-4 text-center mt-2 rounded-lg">
      <p class="text-sm text-gray-400">
        Enter your shipping address to view available shipping methods.
      </p>
    </div>
  </div>

  <!-- Total -->
  <div class="flex flex-col gap-y-4 text-sm mt-6">
    <div class="flex justify-between">
      <p>
        Subtotal ·
        <span>{{ (loadedCart$ | async)?.items?.length }} items</span>
      </p>
      <p>AED {{ (loadedCart$ | async)?.totals?.total_items }}</p>
    </div>

    <div class="flex justify-between">
      <p>Shipping</p>
      <p class="uppercase">free</p>
    </div>

    <div class="flex justify-between text-xl font-semibold">
      <p>Total</p>
      <p class="uppercase">
        AED {{ (loadedCart$ | async)?.totals?.total_items }}
      </p>
    </div>

    <p class="text-gray-400 -mt-3">Including AED 113.95 in taxes</p>
  </div>
</div>
