<div class="sm:p-10 w-full">
  <!-- Products -->
  <div class="border p-4 rounded-lg h-[440px] overflow-auto">
    <div class="flex flex-col gap-y-4">
      <!-- Product Data -->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-x-2">
          <div class="relative">
            <img
              src="slider/1.webp"
              alt=""
              class="w-[64px] h-[64px] border rounded-lg"
            />
            <div class="absolute -top-2 left-[50px]">
              <span
                class="bg-gray-400 text-white rounded-full flex items-center justify-center w-5 h-5 text-xs font-medium p-1"
              >
                1
              </span>
            </div>
          </div>
          <p class="text-sm">Collapsible Sink</p>
        </div>

        <!-- Price -->
        <p class="text-sm">AED 60.00</p>
      </div>
      <!-- Product Data -->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-x-2">
          <div class="relative">
            <img
              src="slider/1.webp"
              alt=""
              class="w-[64px] h-[64px] border rounded-lg"
            />
            <div class="absolute -top-2 left-[50px]">
              <span
                class="bg-gray-400 text-white rounded-full flex items-center justify-center w-5 h-5 text-xs font-medium p-1"
              >
                1
              </span>
            </div>
          </div>
          <p class="text-sm">Collapsible Sink</p>
        </div>

        <!-- Price -->
        <p class="text-sm">AED 60.00</p>
      </div>
      <!-- Product Data -->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-x-2">
          <div class="relative">
            <img
              src="slider/1.webp"
              alt=""
              class="w-[64px] h-[64px] border rounded-lg"
            />
            <div class="absolute -top-2 left-[50px]">
              <span
                class="bg-gray-400 text-white rounded-full flex items-center justify-center w-5 h-5 text-xs font-medium p-1"
              >
                1
              </span>
            </div>
          </div>
          <p class="text-sm">Collapsible Sink</p>
        </div>

        <!-- Price -->
        <p class="text-sm">AED 60.00</p>
      </div>
      <!-- Product Data -->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-x-2">
          <div class="relative">
            <img
              src="slider/1.webp"
              alt=""
              class="w-[64px] h-[64px] border rounded-lg"
            />
            <div class="absolute -top-2 left-[50px]">
              <span
                class="bg-gray-400 text-white rounded-full flex items-center justify-center w-5 h-5 text-xs font-medium p-1"
              >
                1
              </span>
            </div>
          </div>
          <p class="text-sm">Collapsible Sink</p>
        </div>

        <!-- Price -->
        <p class="text-sm">AED 60.00</p>
      </div>
      <!-- Product Data -->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-x-2">
          <div class="relative">
            <img
              src="slider/1.webp"
              alt=""
              class="w-[64px] h-[64px] border rounded-lg"
            />
            <div class="absolute -top-2 left-[50px]">
              <span
                class="bg-gray-400 text-white rounded-full flex items-center justify-center w-5 h-5 text-xs font-medium p-1"
              >
                1
              </span>
            </div>
          </div>
          <p class="text-sm">Collapsible Sink</p>
        </div>

        <!-- Price -->
        <p class="text-sm">AED 60.00</p>
      </div>
      <!-- Product Data -->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-x-2">
          <div class="relative">
            <img
              src="slider/1.webp"
              alt=""
              class="w-[64px] h-[64px] border rounded-lg"
            />
            <div class="absolute -top-2 left-[50px]">
              <span
                class="bg-gray-400 text-white rounded-full flex items-center justify-center w-5 h-5 text-xs font-medium p-1"
              >
                1
              </span>
            </div>
          </div>
          <p class="text-sm">Collapsible Sink</p>
        </div>

        <!-- Price -->
        <p class="text-sm">AED 60.00</p>
      </div>
      <!-- Product Data -->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-x-2">
          <div class="relative">
            <img
              src="slider/1.webp"
              alt=""
              class="w-[64px] h-[64px] border rounded-lg"
            />
            <div class="absolute -top-2 left-[50px]">
              <span
                class="bg-gray-400 text-white rounded-full flex items-center justify-center w-5 h-5 text-xs font-medium p-1"
              >
                1
              </span>
            </div>
          </div>
          <p class="text-sm">Collapsible Sink</p>
        </div>

        <!-- Price -->
        <p class="text-sm">AED 60.00</p>
      </div>
    </div>
  </div>

  <!-- Coupon -->
  <div class="flex gap-x-2 items-center mt-4">
    <input
      type="text"
      class="bg-white border w-full py-[14px] px-3 rounded-lg"
      placeholder="Discount code or gift card"
    />

    <button
      class="px-3 py-[14px] bg-orange-500 rounded-lg text-white font-semibold"
    >
      Apply
    </button>
  </div>

  <!-- Total -->
  <div class="flex flex-col gap-y-4 text-sm mt-6">
    <div class="flex justify-between">
      <p>Subtotal · <span>9 items</span></p>
      <p>AED 2,393.00</p>
    </div>

    <div class="flex justify-between">
      <p>Shipping</p>
      <p class="uppercase">free</p>
    </div>

    <div class="flex justify-between text-xl font-semibold">
      <p>Total</p>
      <p class="uppercase">AED 2,393.00</p>
    </div>

    <p class="text-gray-400 -mt-3">Including AED 113.95 in taxes</p>
  </div>
</div>
