<div class="w-full mb-20">
  <h1 class="text-[#4d4f3a] text-3xl font-semibold mb-8 text-center">
    Your Cart
  </h1>

  <div
    class="p-2"
    [class]="{
      'h-[800px]': (loadedCart$ | async).products.length > 4,
      'overflow-auto': (loadedCart$ | async).products.length > 4
    }"
  >
    @for (item of (loadedCart$ | async).products; track $index) {

    <div class="flex gap-x-6 border-b pb-4 mt-5">
      <img [src]="item.firstImage" alt="" class="w-[112px] h-fit bg-cover" />
      <div class="flex-1">
        <div class="flex justify-between">
          <div class="flex flex-col font-semibold gap-y-1 text-sm">
            <p class="font-normal text-[#b2b48d]">
              {{ item.name.split(" ")[0] }}
            </p>
            <p class="text-base">{{ item.name }}</p>
            <p class="text-base">
              {{ item.price }}
              @if (item.sale_price !== '') {
              <del class="ml-1 text-gray-400 font-light text-sm">{{
                item.regular_price
              }}</del>
              }
            </p>
            <p>
              Color:
              <span class="font-light">
                @for (color of item.attributes?.color?.options; track $index) {
                {{ color.name }}
                }</span
              >
            </p>
            <p>
              Size:
              <span class="font-light">
                @for (size of item.attributes.size.options; track $index) {
                {{ size.name }}
                }
              </span>
            </p>
            <div class="flex mt-4 items-center gap-x-4">
              <div
                class="flex border-2 border-gray-400 rounded-lg w-fit items-center"
              >
                <button
                  type="button"
                  class="w-10 h-8"
                  (click)="onUpdateProductCount(item, 'decrease')"
                  [disabled]="item.count <= 1"
                >
                  <span class="text-base inline-block transform scale-x-[3]"
                    >-</span
                  >
                </button>

                <p class="text-center px-3 text-gray-700">{{ item.count }}</p>

                <button
                  type="button"
                  class="w-10 h-8"
                  (click)="onUpdateProductCount(item, 'increase')"
                >
                  <span
                    class="text-base inline-block font-thin transform scale-150"
                    >+</span
                  >
                </button>
              </div>
              <i
                class="pi pi-trash text-red-600 text-lg cursor-pointer"
                (click)="onDeleteProduct(item)"
              ></i>
            </div>
          </div>

          <!-- Price -->
          <div class="text-center">
            <p class="text-base font-semibold">
              {{ item.price }}
            </p>
            @if (item.sale_price !== '') {
            <del class="text-sm text-gray-400">{{ item.regular_price }}</del>
            }
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
