<div class="w-full mb-20">
  <h1 class="text-[#4d4f3a] text-3xl font-semibold mb-8 text-center">
    Your Cart
  </h1>

  <div
    class="p-2"
    [class]="{
      'h-[800px]': (loadedCart$ | async)?.items?.length > 4,
      'overflow-auto': (loadedCart$ | async)?.items?.length > 4
    }"
  >
    @for (item of (loadedCart$ | async)?.items; track $index) {

    <div class="flex gap-x-6 border-b pb-4 mt-5">
      <img [src]="item.images" alt="" class="w-[112px] h-fit bg-cover" />
      <div class="flex-1">
        <div class="flex justify-between">
          <div class="flex flex-col font-semibold gap-y-1 text-sm">
            <p class="font-normal text-[#b2b48d]">
              {{ item.name.split(" ")[0] }}
            </p>
            <p class="text-base">{{ item.name }}</p>
            <p class="text-base">
              {{ item.prices.price }}
              @if (item.prices.regular_price !== item.prices.price) {
              <del class="ml-1 text-gray-400 font-light text-sm">{{
                item.prices.regular_price
              }}</del>
              }
            </p>
            @if (item.type ==='variation') { @for (variation of item.variation;
            track $index) {
            <p>
              {{ variation.attribute }} :
              <span class="font-light">
                {{ variation.value }}
              </span>
            </p>
            } }
            <div class="flex mt-4 items-center gap-x-4">
              <div
                class="flex border-2 border-gray-400 rounded-lg w-fit items-center"
              >
                <button
                  type="button"
                  class="w-10 h-8"
                  (click)="onUpdateProductQuantity(item, 'decrease')"
                  [disabled]="item.quantity === 1"
                  [class]="{
                    'text-gray-400': item.quantity === 1
                  }"
                >
                  <span class="text-base inline-block transform scale-x-[3]"
                    >-</span
                  >
                </button>

                <input
                  type="number"
                  [value]="item.quantity"
                  class="text-center text-gray-700 rounded-r-none w-6 h-fit outline-none [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
                />

                <button
                  type="button"
                  class="w-10 h-8"
                  (click)="onUpdateProductQuantity(item, 'increase')"
                  [disabled]="item.quantity === item.quantity_limits?.maximum"
                  [class]="{
                    'text-gray-400':
                      item.quantity === item.quantity_limits?.maximum
                  }"
                >
                  <span
                    class="text-base inline-block font-thin transform scale-150"
                    >+</span
                  >
                </button>
              </div>
              <i
                class="pi pi-trash text-red-600 text-lg cursor-pointer"
                (click)="onDeleteProduct(item)"
              ></i>
            </div>
          </div>

          <!-- Price -->
          <div class="text-center">
            <p class="text-base font-semibold">
              {{ item.prices.price }}
            </p>
            @if (item.prices.regular_price !== item.prices.price) {
            <del class="text-sm text-gray-400">{{
              item.prices.regular_price
            }}</del>
            }
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
