@if ((isLoading$ | async) && !(isError$ | async) ) {
<div class="flex justify-center my-20">
  <div
    class="animate-spin rounded-full h-20 w-20 border-t-2 border-b-2 border-gray-900"
  ></div>
</div>
} @else if (isError$ | async) {
<p class="w-full sm:text-xl text-center my-20 p-4">
  Something went wrong fetching the available collections 💥💥. Please try again
  later.
</p>
} @else if((loadedCart$ | async)?.length === 0) {

<div
  class="w-full flex flex-col gap-y-5 justify-center items-center lg:pt-[200px] pt-[100px] pb-[20px]"
>
  <i
    class="pi pi-shopping-cart text-[100px] md:text-[150px] text-gray-300 font-thin"
  ></i>
  <p class="text-3xl md:text-5xl font-semibold">
    Your cart is currently empty.
  </p>

  <a
    [routerLink]="['']"
    class="block rounded-lg bg-green-500 font-semibold px-5 py-3 text-lg text-white transition duration-150 hover:bg-green-600 cursor-pointer"
    >Return to shop</a
  >
</div>
} @else {
<div
  class="max-w-[700px] lg:max-w-[1180px] mx-auto flex flex-col lg:flex-row px-4 lg:px-0 lg:mt-0 mt-6"
>
  <div class="w-full">
    @if (productsOutOfStock$ | async) {
    <div class="bg-red-500 p-3 text-center rounded-lg mt-2">
      @for (product of productsOutOfStock$ | async; track $index) {

      <p class="text-white lg:text-lg">
        Cannot create order:
        <span class="text-black lg:text-lg">{{
          product.name || product.id
        }}</span>
        is out of stock
      </p>
      }
    </div>
    }

    <app-checkout-form />
  </div>
</div>
}

<app-dialog-error />
