<nav class="navbar">
  <ul class="nav-list">
    <!-- Main Categories -->
    <li class="nav-item" *ngFor="let category of mainCategories">
      <a class="nav-link" [routerLink]="getCategoryRoute(category)">
        {{ category.name }}
      </a>

      <!-- Mega Menu -->
      <div class="mega-menu" *ngIf="getSubCategories(category.id).length > 0">
        <div class="menu-container">
          <!-- Subcategories -->
          <div class="menu-column" *ngFor="let sub of getSubCategories(category.id)">
            <h4 class="subcategory-title">
              <a [routerLink]="getCategoryRoute(sub)">
                {{ sub.name }}
              </a>
            </h4>
            <ul class="subcategory-list">
              <li *ngFor="let subSub of getSubCategories(sub.id)">
                <a 
                  [ngClass]="{
                    'has-children': getSubCategories(subSub.id).length > 0, 
                    'subsubsub-link': getSubCategories(subSub.id).length == 0
                  }" 
                  [routerLink]="getCategoryRoute(subSub)">
                  {{ subSub.name }}
                </a>
            
                <ul class="subsubcategory-list" *ngIf="getSubCategories(subSub.id).length > 0">
                  <li *ngFor="let subSubSub of getSubCategories(subSub.id)">
                    <a class="subsubsub-link" [routerLink]="getCategoryRoute(subSubSub)">
                      {{ subSubSub.name }}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </li>

    <!-- SALE Section -->
    <li class="nav-item sale-item">
      <a class="sale-link">SALE!</a>
    </li>
  </ul>
</nav>