<main>
  <!-- Order Details -->
  <section>
    <!-- Table Of Data -->
    <div class="py-8 px-20 shadow-md border border-[#e2e2e2] rounded-lg mb-12">
      <h2 class="text-3xl font-semibold">Order details</h2>

      <!-- Order Data -->
      <table class="w-full">
        <thead>
          <tr>
            <th>Product</th>
            <th>Total</th>
          </tr>
        </thead>

        <tbody class="border-y">
          <tr class="py-2">
            <td>
              Sea To Summit Lightweight Dry Bag First Aid 3L
              <strong>× 1</strong>
            </td>
            <td class="text-sm">AED128</td>
          </tr>
        </tbody>

        <tfoot>
          <tr class="pt-3">
            <th class="font-medium">Subtotal:</th>
            <td class="text-sm">AED128</td>
          </tr>
          <tr>
            <th class="font-medium">Shipping:</th>
            <td class="text-sm">Free shipping</td>
          </tr>
          <tr>
            <th class="font-medium">Payment method:</th>
            <td class="text-sm">Cash on delivery</td>
          </tr>

          <tr class="pt-2">
            <th class="text-xl">Total:</th>
            <td class="text-xl font-medium">AED128</td>
          </tr>
        </tfoot>
      </table>
    </div>

    <!-- Shipping Data Addresses -->
    <div class="grid grid-cols-12">
      <div class="col-span-12 md:col-span-6 mb-6">
        <h2 class="text-3xl font-semibold">Billing address</h2>
        <address>
          Ameen Elnaggar
          <br />
          30-Elwaheda – Shubra
          <br />
          cairo
          <p class="mb-5">+201143049372</p>
          <p>test2&#64;test2.com</p>
        </address>
      </div>
      <div class="col-span-12 md:col-span-6 mb-6">
        <h2 class="text-3xl font-semibold">Shipping address</h2>
        <address>
          Ameen Elnaggar
          <br />
          30-Elwaheda – Shubra
          <br />
          cairo
        </address>
      </div>
    </div>
  </section>
</main>
