::ng-deep .filter-drawer-sidebar {
  width: 100% !important;
  max-width: 360px !important;
}

::ng-deep .filter-drawer-sidebar {
  display: flex;
  flex-direction: column;
  padding: 0;
}

::ng-deep .filter-drawer-sidebar .p-drawer-header {
  display: none;
}

::ng-deep .filter-drawer-sidebar .p-drawer-content {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

@media (max-width: 640px) {
  ::ng-deep .filter-drawer-sidebar {
    max-width: 100% !important;
  }
}