<app-app-container>
  <div class="grid grid-cols-12 gap-1 md:gap-3 lg:gap-5 mt-1 mx-auto">
    <div
      class="md:col-span-3 col-span-6 cursor-pointer relative after:content-[''] after:absolute after:inset-0 after:bg-black/0 after:transition-all after:duration-300 hover:after:bg-black/20"
    >
      <img
        src="slider/Fleeces_PANEL_300x300_@2x.jpg"
        alt="category-image"
        class="w-full"
      />
      <p
        class="font-semibold text-lg text-white w-fit absolute left-[50%] -translate-x-1/2 top-[80%] -translate-y-1/2"
      >
        Fleeces
      </p>
    </div>
    <div
      class="md:col-span-3 col-span-6 cursor-pointer relative after:content-[''] after:absolute after:inset-0 after:bg-black/0 after:transition-all after:duration-300 hover:after:bg-black/20"
    >
      <img
        src="slider/Fleeces_PANEL_300x300_@2x.jpg"
        alt="category-image"
        class="w-full"
      />

      <p
        class="font-semibold text-lg text-white w-fit absolute left-[50%] -translate-x-1/2 top-[80%] -translate-y-1/2"
      >
        Fleeces
      </p>
    </div>
    <div
      class="md:col-span-3 col-span-6 cursor-pointer relative after:content-[''] after:absolute after:inset-0 after:bg-black/0 after:transition-all after:duration-300 hover:after:bg-black/20"
    >
      <img
        src="slider/Fleeces_PANEL_300x300_@2x.jpg"
        alt="category-image"
        class="w-full"
      />

      <p
        class="font-semibold text-lg text-white w-fit absolute left-[50%] -translate-x-1/2 top-[80%] -translate-y-1/2"
      >
        Fleeces
      </p>
    </div>
    <div
      class="md:col-span-3 col-span-6 cursor-pointer relative after:content-[''] after:absolute after:inset-0 after:bg-black/0 after:transition-all after:duration-300 hover:after:bg-black/20"
    >
      <img
        src="slider/Fleeces_PANEL_300x300_@2x.jpg"
        alt="category-image"
        class="w-full"
      />

      <p
        class="font-semibold text-lg text-white w-fit absolute left-[50%] -translate-x-1/2 top-[80%] -translate-y-1/2"
      >
        Fleeces
      </p>
    </div>
  </div>

  <div class="mt-1 lg:mt-2 relative">
    <div
      class="relative after:content-[''] after:absolute after:inset-0 after:bg-black/0 after:transition-all after:duration-300 hover:after:bg-black/40 w-fit mx-auto"
    >
      <img
        src="https://image.cotswoldoutdoor.com/content/dam/cotswold/homepage/2025/week-11---ss25-launch/-Homepage_HEADER_3360x500_@2x.jpg/jcr:content/renditions/cq5dam.web.1024.1024.jpeg?v=1741693051155&imgeng=/w_1024%20,%20//image.cotswoldoutdoor.com/content/dam/cotswold/homepage/2025/week-11---ss25-launch/-Homepage_HEADER_3360x500_@2x.jpg/jcr:content/renditions/cq5dam.web.1024.1024@2x.jpeg?v=1741693051155&imgeng=/w_2048%202x"
        alt="Shop new season"
        class="w-[1500px] h-[200px] bg-cover mx-auto"
      />
    </div>
    <div
      class="absolute left-[50%] -translate-x-1/2 top-[80%] -translate-y-1/2"
    >
      <a [routerLink]="" class="bg-white p-2 border mx-2 rounded-full">
        <span
          class="font-semibold mx-2 text-[#434343] hover:text-black cursor-pointer"
          >Shop Men's</span
        >
      </a>
      <a [routerLink]="" class="bg-white p-2 border mx-2 rounded-full">
        <span
          class="font-semibold mx-2 text-[#434343] hover:text-black cursor-pointer"
          >Shop Women's</span
        >
      </a>
    </div>
  </div>
</app-app-container>
