<main class="home-page">
  <!-- Main Slider -->
  <app-slider></app-slider>

  <!-- Brand Logos -->
  <app-brand-logos></app-brand-logos>

  <!-- Related Categories -->
  <app-related-categories></app-related-categories>

  <!-- New Products -->
  <app-new-products></app-new-products>

  <!-- Recommended Products -->
  <app-recommended-products></app-recommended-products>

  <!-- Sale Products -->
  <app-sale-products></app-sale-products>
</main>

@if ((cartStatus$ | async)?.error) {
<app-dialog-error />

}
