<div class="links-parent" (mouseleave)="selectedCategory(null)">
  <ul class="links-child bg-[#2E2E2E]">
    <div class="flex-grow flex gap-x-4">
      @if (categories) { @for (category of categories; track $index) {
      <li
        class="links-name"
        [class.active]="category.id === selectedCategoryId"
        (mouseenter)="selectedCategory(category.id)"
      >
        <a
          class="py-3 cursor-pointer"
          [routerLink]="getCategoryRoute(category)"
        >
          {{ category.name }} <i class="pi pi-angle-down"></i>
        </a>
      </li>
      } }
    </div>

    <a
      routerLink="/product/sale"
      class="text-white font-semibold bg-orange-600 px-5 py-1 rounded-lg text-sm flex items-center gap-2"
    >
      <i class="pi pi-percentage text-xs"></i>
      <span>Deals</span>
    </a>
  </ul>
</div>

@if(isMobile){
<p-drawer
  [visible]="(sideNavIsVisible$ | async)!"
  position="left"
  (onHide)="hideSideNav()"
  [transitionOptions]="'500ms cubic-bezier(0.4, 0, 0.2, 1)'"
  [modal]="false"
  styleClass="sidenav-drawer"
>
  <hr class="bg-[#3f3c3c] h-[2px] border-0" />

  <ul class="flex flex-col">
    @if (categories) {
    <!-- If Of Main-->

    @for (category of categories; track $index) {
    <!-- For Of Main -->

    <div class="flex flex-col border-b border-[#3f3c3c] py-3">
      <div class="flex items-center justify-between pb-3">
        <li class="">
          <a
            class="cursor-pointer text-base md:text-lg font-semibold text-white"
            [routerLink]="getCategoryRoute(category)"
          >
            {{ category.name }}
          </a>
        </li>
        <i
          class="pi {{
            isCategoryExpanded(category.id) ? 'pi-angle-up' : 'pi-angle-down'
          }} text-white cursor-pointer"
          (click)="toggleCategory(category.id)"
        ></i>
      </div>
      @if (category && isCategoryExpanded(category.id)) {
      <!-- If Of SubCategory -->
      @for (subCategory of getSubCategories(category.id); track subCategory.id)
      {
      <!-- For Of Children Of Main -->

      <div class="flex gap-x-[10px] items-center py-1 mr-3" @slideInOut>
        <a [routerLink]="getCategoryRoute(subCategory)" class="block w-full">
          <span
            [innerHTML]="subCategory.name"
            class="text-sm bg-[#423e3e] rounded-md px-2 py-1 ml-2 text-white mt-2 block font-semibold"
          ></span>
        </a>

        <i
          class="pi {{
            isCategoryExpanded(subCategory.id) ? 'pi-angle-up' : 'pi-angle-down'
          }} text-white cursor-pointer"
          (click)="toggleCategory(subCategory.id)"
        ></i>
      </div>
      @if (subCategory && isCategoryExpanded(subCategory.id)) {
      <!-- If Of Children Of Children Of Main  -->

      @for (subOfSubOfMain of getSubCategories(subCategory.id); track $index) {
      <!-- For Of Children Of Children Of Main -->

      <div
        class="flex gap-x-[10px] items-center ml-3 py-[1px] mr-6"
        @slideInOut
      >
        <a [routerLink]="getCategoryRoute(subOfSubOfMain)" class="block w-full">
          <span
            [innerHTML]="subOfSubOfMain.name"
            [class]="{
              haveChilds: getSubCategories(subOfSubOfMain.id).length > 0,
              notHaveChilds: getSubCategories(subOfSubOfMain.id).length === 0
            }"
          ></span>
        </a>

        @if (getSubCategories(subOfSubOfMain.id).length > 0) {
        <i
          class="pi {{
            isCategoryExpanded(subOfSubOfMain.id)
              ? 'pi-angle-up'
              : 'pi-angle-down'
          }} text-white cursor-pointer"
          (click)="toggleCategory(subOfSubOfMain.id)"
        ></i>
        }
      </div>

      @if (subOfSubOfMain && isCategoryExpanded(subOfSubOfMain.id)) {
      <!-- If Of Children Of Children Of Children Of Main  -->

      @for (subOfSubOfSubOfMain of getSubCategories(subOfSubOfMain.id); track
      $index) {
      <!-- for Of Children Of Children Of Children Of Main  -->
      <div @slideInOut>
        <a [routerLink]="getCategoryRoute(subOfSubOfSubOfMain)">
          <span
            [innerHTML]="subOfSubOfSubOfMain.name"
            class="text-sm ml-10 text-white mt-2 block"
          ></span>
        </a>
      </div>

      <!-- for Of Children Of Children Of Children Of Main  -->

      }

      <!-- If Of Children Of Children Of Children Of Main  -->
      }
      <!-- For Of Children Of Children Of Main -->
      }
      <!-- If Of Children Of Children Of Main  -->
      }

      <!-- For Of Children Of Main -->
      }
      <!-- If Of SubCategory -->
      }
    </div>
    <!-- For Of Main -->
    }
    <!-- If Of Main-->
    }

    <!-- Sales -->
    <a
      routerLink="/product/sale"
      class="text-white w-fit font-semibold bg-orange-600 px-8 py-2 mt-8 rounded-lg text-sm flex items-center"
    >
      <i class="pi pi-percentage text-xs"></i>
      <span> Deals</span>
    </a>
  </ul>
</p-drawer>
}