<div class="body">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col" id="about">
                    <h5>ABOUT</h5>
                    <div class="links">
                        <p>
                            Online Trade Hub LLC<br>
                            2220615.01<br>
                            Shams Business Center, Sharjah, UAE.<br>
                        </p>
                    </div>
                </div>ص
                <div class="col" id="help">
                    <h5>HELP</h5>
                    <div class="links">
                        <a href="#">My Account</a>
                        <a href="#">About Us</a>
                        <a href="#">Contact Us</a>
                        <a href="#">Terms and Conditions</a>
                        <a href="#">Return & Refund Policy</a>
                        <a href="#">Cookies Policy</a>
                        <a href="#">Vendor Dashboard</a>
                    </div>
                </div>
                <div class="col" id="contact">
                    <h5>CONTACT</h5>
                    <div class="links">
                        <a href="#"><i class="bi bi-facebook"></i> Facebook</a>
                        <a href="#"><i class="bi bi-instagram"></i> Instagram</a>
                        <a href="#"><i class="bi bi-youtube"></i> YouTube</a>
                    </div>
                </div>
                <div class="col" id="subscribe">
                    <h3>Subscribe to our newsletter</h3>
                    <h6>Get exclusive offers & hot deals</h6>
                    <input type="text">
                </div>
            </div>
        </div>
    </footer>
</div>
