<footer class="bg-[#222222] text-[#fbfbfb] md:pb-[64px] md:pt-[72px] pb-10 pt-[20px] overflow-hidden">
  <div class="container mx-auto px-4">
    <app-container>
      <div class="grid grid-cols-12 lg:gap-y-0 gap-y-9 lg:gap-x-16 xl:gap-x-24 2xl:gap-x-32">
        <div class="section">
          <div class="flex flex-col justify-start gap-8">
            <a class="block" [routerLink]="''" class="no-style">
              <img src="header/White logo-01.webp" alt="Adventures hub logo" routerLink=""
                class="w-[200px] h-10 lg:w-[250px] lg:h-12 cursor-pointer -ml-3" loading="lazy" />
            </a>
            <p>From enthusiasts. To enthusiasts.</p>
            <ul class="flex items-center gap-x-6">
              <li class="social-link">
                <a href="https://www.facebook.com/adventureshubme" target="_blank" class="no-style">
                  <i class="pi pi-facebook"></i></a>
              </li>
              <li class="social-link">
                <a href="https://www.instagram.com/adventures_hub_dxb/" target="_blank" class="no-style"><i
                    class="pi pi-instagram"></i></a>
              </li>
              <li class="social-link">
                <a href="https://www.youtube.com/@adventures-hub" target="_blank" class="no-style"><i
                    class="pi pi-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <div class="flex items-start justify-between md:border-none border-t border-b border-[#3f3c3c] py-4 md:py-0">
            <div>
              <p class="main-page !mb-3">Support</p>
              @if (showSupportSection()) {
              <div @slideInOut>
                <ul class="flex flex-col justify-center gap-4">
                  <li>
                    <a [routerLink]="['/user']"> My Account </a>
                  </li>
                  <li>
                    <a [routerLink]="['pages', 'about-us']"> About Us </a>
                  </li>
                  <li>
                    <a [routerLink]="['pages', 'contact-us']"> Contact Us </a>
                  </li>
                  <li>
                    <a [routerLink]="['blog']"> Blogs </a>
                  </li>
                  <li>
                    <a [routerLink]="['product', 'sale']"> Deals </a>
                  </li>
                </ul>
              </div>
              }
            </div>
            <i class="pi {{
                !supportVisible() ? 'pi-angle-up' : 'pi-angle-down'
              }} text-white cursor-pointer !text-base md:hidden block" (click)="onShowSupportData()"></i>
          </div>
        </div>
        <div class="section">
          <p class="main-page">Need help with your order?</p>
          <p class="text-gray-300">Call: 050 460 6671</p>
        </div>
      </div>
      <div class="flex gap-5 pt-12 pb-8">

        <img class="credit-image"
          data-src="https://themedemo.commercegurus.com/shoptimizer-demodata/wp-content/uploads/sites/53/2018/05/credit-cards.png"
          alt="credit-cards"
          src="https://themedemo.commercegurus.com/shoptimizer-demodata/wp-content/uploads/sites/53/2018/05/credit-cards.png" />
      </div>
      <hr class="bg-[#3f3c3c] h-[2px] border-0" />

      <div class="mt-4 flex md:flex-row flex-col md:items-center md:justify-between justify-start md:gap-y-0 gap-y-3">
        <p class="text-sm text-gray-300">
          © Adventures HUB {{ currentYear }}, All rights reserved.
        </p>

        <ul class="flex items-center gap-6">
          <li>
            <a [routerLink]="['pages', 'terms']"> Terms and Conditions </a>
          </li>
          <li>
            <a [routerLink]="['pages', 'return-Policy']">
              Return &amp; Refund Policy
            </a>
          </li>
          <li>
            <a [routerLink]="['pages', 'Cookies-Policy']"> Cookies Policy </a>
          </li>
        </ul>
      </div>
    </app-container>
  </div>
</footer>