.section {
  @apply col-span-12 md:col-span-6 lg:col-span-4;
}

.main-page {
  @apply font-semibold text-base mb-2 cursor-pointer;
}

li {
  @apply text-gray-300 text-sm;
}

a:not(.no-style) {
  @apply relative transition-all duration-300 ease-in-out;
}

a:not(.no-style)::after {
  content: "";
  @apply absolute left-0 bottom-0 w-0 h-[2px] bg-white transition-all duration-300 ease-in-out;
}

a:not(.no-style):hover::after {
  @apply w-full;
}

a:hover {
  @apply text-white cursor-pointer;
}

.social-link {
  @apply flex items-center;
}

i {
  @apply text-2xl;
}

.social-image {
  @apply w-14 h-auto mr-2 cursor-pointer;
}

.credit-image {
  @apply h-7;
}
