.main-page {
  @apply uppercase font-semibold text-base mb-2 cursor-pointer;
}

ul {
  @apply text-sm gap-y-2 flex flex-col justify-center;
}

li {
  color: rgb(204, 204, 204);
}

a:not(.no-style) {
  @apply relative transition-all duration-300 ease-in-out;
}

a:not(.no-style)::after {
  content: "";
  @apply absolute left-0 bottom-0 w-0 h-[2px] bg-white transition-all duration-300 ease-in-out;
}

a:not(.no-style):hover::after {
  @apply w-full;
}

a:not(.no-style):hover {
  @apply text-white cursor-pointer;
}

.social-link {
  @apply flex items-center;
}

i {
  cursor: pointer;
  margin-right: 10px;
}

.social-image {
  @apply w-14 h-auto mr-2 cursor-pointer;
}

.credit-image {
  @apply h-7;
}
