<footer class="bg-[#212122] text-[#fbfbfb] py-[64px]">
  <div class="flex justify-center items-start gap-x-8">
    <div>
      <p class="main-page">about</p>
      <ul>
        <li>Online Trade Hub LLC</li>
        <li>2220615.01</li>
        <li>Shams Business Center, Sharjah, UAE.</li>
      </ul>
    </div>
    <div>
      <p class="main-page">help</p>
      <ul>
        <li>
          <a> My Account </a>
        </li>
        <li>
          <a> About Us </a>
        </li>
        <li>
          <a> Contact Us </a>
        </li>
        <li>
          <a> Terms and Conditions </a>
        </li>
        <li>
          <a> Return &amp; Refund Policy </a>
        </li>
        <li>
          <a> Cookies Policy </a>
        </li>
        <li>
          <a> Vendor Dashboard </a>
        </li>
      </ul>
    </div>
    <div>
      <p class="main-page">follow</p>
      <ul>
        <li class="social-link">
          <i class="pi pi-facebook"></i>
          <a>Facebook</a>
        </li>
        <li class="social-link">
          <i class="pi pi-instagram"></i>
          <a>Instagram</a>
        </li>
        <li class="social-link">
          <i class="pi pi-youtube"></i>
          <a>Youtube</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
