<nav class="relative">
  <div class="navbar-wrapper" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="navbar-top">
      <!-- Main Categories -->
      <app-navbar-main-categories [categories]="mainCategories" [allCategories]="allCategories"
        (select)="getSubCategories($event)" />
    </div>

    <div class="navbar-subcategories">
      <app-navbar-sub-categories [subCategories$]="filterdCategories$" [allCategoriesData]="allCategories" />
    </div>
  </div>
</nav>