.product-card {
  /* border: 1px solid #e0e0e0; */
  overflow: visible;
  background: white;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  width: 275px;
  height: 450px;
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  padding: 16px;
  /* margin-bottom: 20px; */
  box-sizing: border-box;
}


.product-card:hover {
  /* transform: translateY(-2px); */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  z-index: 1002;
}

.add-to-cart {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(10px);
}

.product-card:hover .add-to-cart {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1200px) {
  .product-card {
    max-width: 250px;
  }
}

@media (max-width: 992px) {
  .product-card {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .product-card {
    width: 100%;
    height: auto;
    padding: 12px;
  }
}

@media (max-width: 576px) {
  .product-card {
    width: 100%;
    height: auto;
    padding: 8px;
  }
}

