<div class="product-card relative overflow-visible bg-white rounded-md shadow-sm transition-all duration-300 hover:shadow-md group" (mouseenter)="onHover(true)" (mouseleave)="onHover(false)">
  <app-card-image-slider
    [product]="product"
    [currentSlide]="currentSlide"
    [colorOptions]="colorOptions"
    [getDotCount]="getDotCount.bind(this)"
    (goToSlide)="goToSlide($event)">
  </app-card-image-slider>

  <app-card-details
    [product]="product"
    [colorOptions]="colorOptions"
    [uniqueSizes]="uniqueSizes"
    [getBrandName]="getBrandName.bind(this)"
    [getBrandSlug]="getBrandSlug.bind(this)">
  </app-card-details>

  <app-color-swatches
    [colorOptions]="colorOptions"
    [selectedColor]="selectedColor"
    (selectColor)="selectColor($event.color, $event.image)">
  </app-color-swatches>


  <div class="p-3 pt-0" *ngIf="shouldShowAddToCartButton()">
    <button class="add-to-cart-btn w-full text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br font-medium rounded-sm text-sm px-5 py-2.5 text-center transition-all duration-300"
            [disabled]="isAddToCartDisabled()"
            (click)="onAddToCartWithOptions()">
      Add to Cart
    </button>
  </div>
  
  <app-size-selector
    [isHovered]="isHovered"
    [colorOptions]="colorOptions"
    [uniqueSizes]="uniqueSizes"
    [visibleSizes]="visibleSizes"
    [selectedSize]="selectedSize"
    [sizeScrollIndex]="sizeScrollIndex"
    [maxScrollIndex]="maxScrollIndex"
    (scrollSizes)="scrollSizes($event)"
    (selectSize)="selectSize($event)">
  </app-size-selector>

  <!-- <div class="p-3 pt-0">
    <button class="add-to-cart-btn w-full text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br font-medium rounded-sm text-sm px-5 py-2.5 text-center transition-all duration-300"
            [disabled]="isAddToCartDisabled()"
            (click)="onAddToCartWithOptions()">
      Add to Cart
    </button>
  </div> -->
</div>