@if ((loadedOrder$ | async)) {
@if ((loadedOrder$ | async)?.id) {
<main>
  <!-- Order Recevied -->
  <!-- <div class="mt-12 mb-7">
    <p class="text-center text-3xl text-green-600">
      <i class="pi pi-check-circle text-xl"></i>
      Thank you. Your order has been received
    </p>
  </div> -->

  <!-- Order MetaData -->
  <div class="bg-white shadow-sm border border-gray-200 px-4 py-5 mb-6 rounded-lg">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4">
      <li class="flex flex-col">
        <span class="text-sm text-gray-500 mb-1">Order number:</span>
        <span class="font-medium">{{ (loadedOrder$ | async)?.id }}</span>
      </li>
      <li class="flex flex-col">
        <span class="text-sm text-gray-500 mb-1">Date:</span>
        <span class="font-medium">{{
          (loadedOrder$ | async)?.date_created | date : "mediumDate"
          }}</span>
      </li>
      <li class="flex flex-col">
        <span class="text-sm text-gray-500 mb-1">Email:</span>
        <span class="font-medium">{{ (loadedOrder$ | async)?.billing?.email }}</span>
      </li>
      <li class="flex flex-col">
        <span class="text-sm text-gray-500 mb-1">Total:</span>
        <span class="font-medium">{{
          (loadedOrder$ | async)?.total | currency : (loadedOrder$ | async)?.currency_symbol
          }}</span>
      </li>
      <li class="flex flex-col">
        <span class="text-sm text-gray-500 mb-1">Payment method:</span>
        <span class="font-medium">{{ (loadedOrder$ | async)?.payment_method_title }}</span>
      </li>
    </ul>
  </div>
</main>
}
}