@if (loadedOrder$ | async) {
<main>
  <!-- Order Recevied -->
  <div class="mt-12 mb-7">
    <p class="text-center text-3xl text-green-600">
      <i class="pi pi-check-circle text-xl"></i>
      Thank you. Your order has been received
    </p>
  </div>

  <!-- Order MetaData -->
  <div class="bg-[#f8f8f8] px-6 py-4 mb-8 rounded-lg">
    <ul
      class="flex md:flex-row flex-col items-start md:items-center md:justify-center text-sm text-gray-500 md:text-center"
    >
      <li class="py-3 px-5">
        Order number:
        <strong>{{ (loadedOrder$ | async).id }}</strong>
      </li>
      <li class="py-3 px-5">
        Date:
        <strong>{{
          (loadedOrder$ | async).date_created | date : "longDate"
        }}</strong>
      </li>
      <li class="py-3 px-5">
        Email:
        <strong>test2&#64; {{ (loadedOrder$ | async).billing.email }}</strong>
      </li>
      <li class="py-3 px-5">
        Total:
        <strong>{{
          (loadedOrder$ | async).total
            | currency : (loadedOrder$ | async).currency
        }}</strong>
      </li>
      <li class="py-3 px-5">
        {{ (loadedOrder$ | async).payment_method }}:
        <strong>{{ (loadedOrder$ | async).payment_method_title }}</strong>
      </li>
    </ul>
  </div>
</main>

}
