<main>
  <!-- Order Recevied -->
  <div class="mt-12 mb-7">
    <p class="text-center text-3xl text-green-600">
      <i class="pi pi-check-circle text-xl"></i>
      Thank you. Your order has been received
    </p>
  </div>

  <!-- Order MetaData -->
  <div class="bg-[#f8f8f8] px-6 py-4 mb-8 rounded-lg">
    <ul
      class="flex md:flex-row flex-col items-start md:items-center md:justify-center text-sm text-gray-500 md:text-center"
    >
      <li class="py-3 px-5">
        Order number:
        <strong>126303</strong>
      </li>
      <li class="py-3 px-5">
        Date:
        <strong>April 9 ,2025</strong>
      </li>
      <li class="py-3 px-5">
        Email:
        <strong>test2&#64; test2.com</strong>
      </li>
      <li class="py-3 px-5">
        Total:
        <strong>AED128</strong>
      </li>
      <li class="py-3 px-5">
        Payment method
        <strong>Cash on delivery</strong>
      </li>
    </ul>
  </div>
</main>
