<div class="service-highlight-container w-full">
  <div class="container mx-auto px-4">


    <div class="highlights-wrapper flex flex-col md:flex-row justify-between flex-wrap">

      <!-- Free Shipping -->
      <div class="service-highlight-item">
        <div class="highlight-content flex items-center">
          <div class="service-highlight-icon-container">
            <i class="pi pi-truck service-highlight-icon"></i>
          </div>
          <div class="highlight-text">
            <p class="font-semibold service-highlight-text">Free Shipping in UAE</p>
            <p class="text-gray-500 service-highlight-text">For orders above AED 100</p>
          </div>
        </div>
      </div>

      <!-- Money Back Guarantee -->
      <div class="service-highlight-item">
        <div class="highlight-content flex items-center">
          <div class="service-highlight-icon-container">
            <i class="pi pi-refresh service-highlight-icon"></i>
          </div>
          <div class="highlight-text">
            <p class="font-semibold service-highlight-text">Easy Returns</p>
            <p class="text-gray-500 service-highlight-text">7 days money back guarantee</p>
          </div>
        </div>
      </div>

      <!-- Fast Delivery -->
      <div class="service-highlight-item">
        <div class="highlight-content flex items-center">
          <div class="service-highlight-icon-container">
            <i class="pi pi-clock service-highlight-icon"></i>
          </div>
          <div class="highlight-text">
            <p class="font-semibold service-highlight-text">Fast Delivery</p>
            <p class="text-gray-500 service-highlight-text">Within 2 working days</p>
          </div>
        </div>
      </div>

      <!-- Secure Checkout -->
      <div class="service-highlight-item">
        <div class="highlight-content flex items-center">
          <div class="service-highlight-icon-container">
            <i class="pi pi-shield service-highlight-icon"></i>
          </div>
          <div class="highlight-text">
            <p class="font-semibold service-highlight-text">100% Secure Checkout</p>
            <p class="text-gray-500 service-highlight-text">MasterCard / Visa / Bank transfer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>