<div class="service-highlight-container">
  <div class="container mx-auto px-4">
    <div class="highlights-wrapper flex flex-col md:flex-row justify-between gap-4">
      <div class="service-highlight-item">
        <div class="highlight-content flex items-center">
          <i class="pi text-gray-500 pi-map-marker service-highlight-icon"></i>
          <div class="highlight-text">
            <p class="font-semibold service-highlight-text">Free Shipping in UAE</p>
            <p class="text-gray-500 service-highlight-text">For orders above AED 100</p>
          </div>
        </div>
      </div>
      <div class="service-highlight-item">
        <div class="highlight-content flex items-center">
          <i class="pi text-gray-500 pi-arrow-right-arrow-left service-highlight-icon"></i>
          <div class="highlight-text">
            <p class="font-semibold service-highlight-text">Easy 7 Days Moneyback guarantee</p>
            <p class="text-gray-500 service-highlight-text">7 days money back guarantee</p>
          </div>
        </div>
      </div>
      <div class="service-highlight-item">
        <div class="highlight-content flex items-center">
          <i class="pi text-gray-500 pi-globe service-highlight-icon"></i>
          <div class="highlight-text">
            <p class="font-semibold service-highlight-text">Fast Delivery</p>
            <p class="text-gray-500 service-highlight-text">Within 2 working days</p>
          </div>
        </div>
      </div>
      <div class="service-highlight-item">
        <div class="highlight-content flex items-center">
          <i class="pi text-gray-500 pi-lock service-highlight-icon"></i>
          <div class="highlight-text">
            <p class="font-semibold service-highlight-text">100% Secure Checkout</p>
            <p class="text-gray-500 service-highlight-text">MasterCard / Visa / Bank transfer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>