<div class="mt-12 pt-8 pb-7 border-t">
  <div class="grid grid-cols-12 lg:gap-y-0 gap-y-4 justify-items-center">
    <div class="lg:col-span-3 md:col-span-6 col-span-12">
      <div class="flex items-center gap-x-4">
        <i class="pi text-gray-500 pi-map-marker"></i>
        <div>
          <p class="font-semibold">Free Shipping in UAE</p>
          <p class="text-gray-500">For orders above AED 100</p>
        </div>
      </div>
    </div>
    <div class="lg:col-span-3 md:col-span-6 col-span-12">
      <div class="flex items-center gap-x-4">
        <i class="pi text-gray-500 pi-arrow-right-arrow-left"></i>
        <div>
          <p class="font-semibold">Easy 7 Days Moneyback guarantee</p>
          <p class="text-gray-500">7 days money back guarantee</p>
        </div>
      </div>
    </div>
    <div class="lg:col-span-3 md:col-span-6 col-span-12">
      <div class="flex items-center gap-x-4">
        <i class="pi text-gray-500 pi-globe"></i>
        <div>
          <p class="font-semibold">Fast Delivery</p>
          <p class="text-gray-500">Withing 2 working days</p>
        </div>
      </div>
    </div>
    <div class="lg:col-span-3 md:col-span-6 col-span-12">
      <div class="flex items-center gap-x-4">
        <i class="pi text-gray-500 pi-lock"></i>
        <div>
          <p class="font-semibold">100% Secure Checkout</p>
          <p class="text-gray-500">MasterCard / Visa / Bank transfer</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
