<div class="product-gallery" *ngIf="images.length > 0; else noImages">
  <!-- Thumbnails -->
  <div class="thumbnails-column">
    <div
      *ngFor="let image of images; trackBy: trackByFn"
      class="thumbnail-item"
      [class.active]="selectedImage === image.src"
      (click)="selectImage(image.src)"
    >
      <img
        [src]="image.src"
        [alt]="image.alt || productName"
        class="thumbnail-img"
      />
    </div>
  </div>

  <div
    class="main-image zoom-container"
    (mousemove)="zoom($event)"
    (mouseleave)="resetZoom()"
    #zoomContainer
  >
    <!-- <button class="prev" (click)="slickCarousel.slickPrev()">❮</button>
    <button class="next" (click)="slickCarousel.slickNext()">❯</button>
    <ngx-slick-carousel
      #slickCarousel
      class="carousel"
      [config]="slideConfig"
      (afterChange)="afterChange($event)"
    > -->
      <div
        ngxSlickItem
        *ngFor="let image of images; trackBy: trackByFn"
        class="slide"
      >
        <img
          [src]="image.src"
          [alt]="image.alt || productName"
          class="main-img"
        />
      </div>
    <!-- </ngx-slick-carousel> -->
  </div>
</div>

<ng-template #noImages>
  <div class="no-images">No images available</div>
</ng-template>
